# AI Tooling
AGENT.md
MEMORY.md

# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Dependency managers
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
